.detallesCarro::-webkit-scrollbar{width: 6px; background-color: rgb(233, 233, 233);}
.detallesCarro::-webkit-scrollbar-thumb{background-color: rgb(10, 40, 62); cursor: pointer;}
.detallesCarro::-webkit-scrollbar-button {background-color: rgb(10, 40, 62); height: 7px; border-radius: 70% 70% 70% 70%;}